*, *:after, *:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* @include respond(tab-land) { // 1rem = 9px
        font-size: 56.25%;
    }

    @include respond(tab-port) { // 1rem = 8px
        font-size: 50%; 
    }

    @include respond(big-desktop) { // 1rem = 12px
        font-size: 75%;
    } */ }

body, html {
  font-family: 'Lato', sans-serif;
  color: #333;
  background-color: #FAFAFA; }

.container {
  display: flex;
  flex-direction: column;
  width: 100%; }

.row {
  max-width: 140rem;
  margin: 0 auto; }

#content {
  flex-grow: 2; }

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.7)), url("../img/banner/21.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56rem; }

#logo img {
  width: 25rem;
  box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.4);
  border-radius: 5rem;
  border: 4px solid #fff;
  position: absolute;
  top: 100%;
  left: 5rem;
  transform: translateY(-90%); }

#name {
  color: #fff;
  position: absolute;
  top: 100%;
  left: 35rem;
  transform: translateY(-110%);
  font-size: 5rem;
  font-weight: 300; }
  #name span {
    display: block; }

nav {
  background-color: #fff; }

.nav-list {
  margin-left: 35rem;
  list-style: none;
  display: flex;
  align-items: center; }

.nav-item {
  display: flex;
  border-right: 0.5px solid #eee; }
  .nav-item:first-child {
    border-left: 0.5px solid #eee; }
  .nav-item a:link,
  .nav-item a:visited {
    padding: 2rem 2rem;
    text-decoration: none;
    color: #3792cc;
    border-bottom: .5px solid transparent;
    font-size: 1.8rem;
    font-weight: 400;
    transition: all .2s;
    position: relative; }
    .nav-item a:link::after,
    .nav-item a:visited::after {
      opacity: 0;
      content: '';
      display: block;
      position: absolute;
      width: 2.5rem;
      height: .9rem;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -90%);
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      transition: opacity .2s;
      background-color: #FAFAFA;
      z-index: 1; }
  .nav-item a:hover,
  .nav-item a:active {
    background-color: rgba(55, 146, 204, 0.7);
    color: #fff; }
    .nav-item a:hover::after,
    .nav-item a:active::after {
      opacity: 1; }

.social-links {
  position: fixed;
  top: 50%;
  left: 5rem;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity .2s; }
  .social-links-list {
    list-style: none; }
  .social-links-item {
    font-size: 3.5rem;
    padding: 1rem;
    display: flex;
    justify-content: center; }
    .social-links-item a:link,
    .social-links-item a:visited {
      color: rgba(0, 0, 0, 0.4); }
    .social-links-item a:hover .social-icon,
    .social-links-item a:active .social-icon {
      transform: scale(1.1); }
    .social-links-item a:hover .fa-linkedin,
    .social-links-item a:active .fa-linkedin {
      color: #1178B3; }
    .social-links-item a:hover .fa-github,
    .social-links-item a:active .fa-github {
      color: #000; }
    .social-links-item a:hover .fa-facebook,
    .social-links-item a:active .fa-facebook {
      color: #4468B0; }
    .social-links-item a:hover .fa-envelope,
    .social-links-item a:active .fa-envelope {
      color: #679A46; }

.social-icon {
  transition: all .2s; }

.title {
  width: 100%;
  display: block;
  text-align: center;
  padding: 6rem 0;
  margin-bottom: 6rem;
  font-size: 4rem;
  font-weight: 400; }
  .title::after {
    padding-top: 3rem;
    content: '';
    display: block;
    width: 25rem;
    margin: 0 auto;
    border-bottom: 2px solid #5AA995; }

#projects {
  width: 100%; }

.project {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .project:not(:last-child) {
    margin-bottom: 10rem; }
    .project:not(:last-child)::after {
      content: '';
      display: block;
      border-bottom: 2px solid #eee;
      width: 25rem;
      margin: 0 auto;
      padding-top: 10rem; }
  .project-preview {
    flex: 1 0 55%;
    position: relative;
    margin-right: 5%; }
  .project-description {
    padding: 0 5%;
    flex: 1 0 30%;
    display: flex;
    flex-direction: column; }
  .project-name {
    padding: 2rem 0 4rem 0;
    font-size: 2.5rem;
    align-self: center;
    font-weight: 700; }
  .project-about {
    flex: 1;
    padding: 2rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column; }
  .project-intro {
    flex: 1;
    color: #777;
    font-size: 2rem;
    padding-bottom: 1.5rem; }
    .project-intro span:not(:last-child) {
      display: block;
      margin-bottom: 1rem; }
  .project-technology {
    padding-top: 1.5rem;
    border-top: 0.5px solid #eee; }
    .project-technology i {
      font-size: 3rem;
      margin-right: 1rem; }

.device-imac {
  max-width: 80% !important;
  margin: 0 auto;
  z-index: 0; }

.device-ipad {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  transform: translateY(-101%);
  max-width: 50% !important; }

.device-iphone {
  z-index: 2;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-65%, -100%);
  max-width: 15% !important; }

.fa-html5 {
  color: #E24E30; }

.fa-css3-alt {
  color: #2A53E0; }

.fa-js {
  color: #EFDA5B; }

.fa-sass {
  color: #CD669A; }

.goto-to-website {
  margin-bottom: 2rem;
  padding: 1.5rem 3rem;
  display: block;
  align-self: flex-start;
  background-color: #57aa95;
  color: #fff;
  font-size: 1.6rem;
  box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  text-decoration: none; }

.screen img {
  width: 100%; }
