*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*::selection {
  background-color: #eee; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
  color: #333; }

body {
  font-size: 1.6rem;
  box-sizing: border-box; }

.container {
  display: flex;
  flex-direction: column;
  width: 100%; }

.row {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto; }

#content {
  flex-grow: 2; }

section {
  margin-top: 10rem; }

section:last-child {
  margin-bottom: 10rem; }

.section-title {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif; }
  .section-title::after {
    padding-top: 1rem;
    content: '';
    display: block;
    width: 12rem;
    margin: 0 auto;
    border-bottom: 2px solid #EDABA3; }

h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #dc5d4e; }

h4 {
  font-size: 1.8rem;
  font-weight: 400; }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.animated_fadeIn1,
.animated_fadeIn2 {
  opacity: 0; }

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-fill-mode: both; }

/*  ------------------------------------  */
/*  Animation: slider from left to right  
/*  Structure:                                     
   .animated_lr .animated_slide--cur { .slide-wrapper { .animated_obj } 
   .animated_lr .animated_slide--cur { .slide-wrapper { .animated_obj } 
   .animated_lr .animated_slide--cur { .slide-wrapper { .animated_obj } 
/*  ------------------------------------  */
.animated_lr {
  position: absolute;
  top: 0;
  left: 0; }
  .animated_lr .animated_obj {
    position: absolute;
    top: 0;
    transform: translateX(-200%);
    transition: left ease-out .5s; }
  .animated_lr .slide-wrapper {
    position: relative;
    overflow: hidden; }
  .animated_lr.animated_slide--cur .animated_obj, .animated_lr.animated_slide--next .animated_obj, .animated_lr.animated_slide--prev .animated_obj {
    transform: translateX(0); }
  .animated_lr.animated_slide--cur .animated_obj {
    left: 0; }
  .animated_lr.animated_slide--prev .animated_obj {
    left: 100%; }
  .animated_lr.animated_slide--next .animated_obj {
    left: -100%; }

.social-link:link, .social-link:visited {
  color: rgba(0, 0, 0, 0.4); }

.social-link:hover, .social-link:active {
  cursor: pointer; }
  .social-link:hover i, .social-link:active i {
    transform: scale(1.1); }
  .social-link:hover .fa-linkedin, .social-link:active .fa-linkedin {
    color: #1178B3; }
  .social-link:hover .fa-github, .social-link:active .fa-github {
    color: #000; }
  .social-link:hover .fa-facebook, .social-link:active .fa-facebook {
    color: #4468B0; }
  .social-link:hover .fa-envelope, .social-link:active .fa-envelope {
    color: #679A46; }

.social-icon {
  transition: transform .2s, color .2s; }
  .social-icon--big {
    font-size: 3rem; }
  .social-icon--small {
    font-size: 2rem; }
  .social-icon--tiny {
    font-size: 1.8rem; }

.social-links {
  position: fixed;
  top: 50%;
  left: 2.5rem;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity .2s; }
  .social-links-list {
    list-style: none; }
  .social-links-item {
    padding: .8rem;
    display: flex;
    justify-content: center; }

/* ---------------------------- 
     Back and Forward btns < > 
   ---------------------------- */
.btn-angle--left {
  transform: translate(-100%, -3rem) rotate(180deg); }
  .btn-angle--left:active {
    transform: translate(-100%, calc(-3rem + 3px)) rotate(180deg); }

.btn-angle--right {
  transform: translate(-100%, -100%); }
  .btn-angle--right:active {
    transform: translate(-100%, calc(-100% + 3px)); }

.btn-angle--left, .btn-angle--right {
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  fill: #333;
  transition: fill .2s, transform .2s;
  cursor: pointer; }
  .btn-angle--left:hover, .btn-angle--right:hover {
    fill: #3792cc; }

nav {
  background-color: #fff; }

.nav-list {
  margin-left: 26rem;
  list-style: none;
  display: flex;
  align-items: center; }

.nav-item {
  display: flex;
  border-right: 0.5px solid #eee; }
  .nav-item:first-child {
    border-left: 0.5px solid #eee; }
  .nav-item a:link,
  .nav-item a:visited {
    padding: 1.7rem 1.7rem;
    text-decoration: none;
    color: #3792cc;
    border-bottom: .5px solid transparent;
    font-size: 1.4rem;
    font-weight: 400;
    transition: all .2s;
    position: relative; }
  .nav-item a:hover,
  .nav-item a:active {
    background-color: rgba(55, 146, 204, 0.7);
    color: #fff; }
    .nav-item a:hover::after,
    .nav-item a:active::after {
      opacity: 1; }

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.7)), url("../img/banner/21.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 42rem; }

#logo img {
  width: 18rem;
  box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.4);
  border-radius: 3rem;
  border: 4px solid #fff;
  position: absolute;
  top: 100%;
  left: 5rem;
  transform: translateY(-90%); }

#name {
  color: #fff;
  position: absolute;
  top: 100%;
  left: 26rem;
  transform: translateY(-110%);
  font-size: 4rem;
  font-weight: 300; }
  #name span {
    display: block; }

.about-me {
  margin-top: 6rem;
  padding: 0 5rem;
  width: 100%;
  display: flex;
  flex-wrap: nowrap; }
  .about-me--intro {
    flex: 0 0 60%; }
  .about-me--skills {
    flex: 0 0 40%;
    position: relative; }
  .about-me--text {
    color: #555;
    line-height: 2.4rem; }
    .about-me--text p:not(:last-child) {
      margin-bottom: 2rem; }
  .about-me--link {
    display: inline-block;
    text-decoration: none;
    color: #3792cc;
    border-bottom: 2px solid transparent;
    transition: all .2s; }
    .about-me--link:hover, .about-me--link:active {
      border-bottom: 2px solid #3792cc; }

.skills-icon {
  font-size: 8rem;
  border: 2px solid #eee;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: #FAFAFA;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateX(-50%);
  transition: all .2s; }
  .skills-icon:hover {
    z-index: 10;
    transform: translateX(-50%) scale(1.1); }
  .skills-icon--1 {
    color: #E24E30;
    width: 14rem;
    height: 14rem;
    top: -2rem;
    left: 60%;
    z-index: 5; }
  .skills-icon--2 {
    color: #EFDA5B;
    width: 14rem;
    height: 14rem;
    top: 9rem;
    left: 47%;
    z-index: 3; }
  .skills-icon--3 {
    color: #2A53E0;
    width: 12rem;
    height: 12rem;
    top: 9rem;
    left: 75%;
    z-index: 3; }
  .skills-icon--4 {
    color: #CD669A;
    width: 12rem;
    height: 12rem;
    top: 17rem;
    left: 91%; }
  .skills-icon--5 {
    color: #67DAF9;
    width: 10rem;
    height: 10rem;
    top: 19.5rem;
    left: 31%; }

#projects {
  width: 100%;
  margin-top: 6rem;
  padding: 0 5rem; }

.project {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .project:not(:last-child) {
    margin-bottom: 6rem; }
    .project:not(:last-child)::after {
      width: 12rem;
      content: '';
      display: block;
      border-bottom: 2px solid #eee;
      margin: 0 auto;
      padding-top: 6rem; }
  .project-preview {
    flex: 1 0 60%;
    position: relative; }
  .project-description {
    flex: 1 0 calc(40% - 3rem);
    margin: auto 0;
    margin-left: 3rem;
    padding: 0 4rem;
    display: flex;
    flex-direction: column; }
  .project-name {
    margin-bottom: 3rem; }
  .project-about {
    display: flex;
    flex-direction: column; }
  .project-intro {
    color: #555;
    font-size: 1.6rem;
    padding-bottom: 2rem;
    border-bottom: 0.5px solid #eee; }
    .project-intro span:not(:last-child) {
      display: block; }
  .project-technology {
    padding-top: 1rem;
    font-size: 1.4rem; }
    .project-technology span {
      display: inline-block;
      padding: 0 3px;
      color: #666;
      margin-right: .3rem;
      margin-bottom: .3rem; }

.device-imac {
  max-width: 80% !important;
  z-index: 0; }

.device-ipad {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  transform: translateY(-101%);
  max-width: 50% !important; }

.device-iphone {
  z-index: 2;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-65%, -100%);
  max-width: 15% !important; }

.goto-to-website:link, .goto-to-website:visited,
.goto-to-website:link,
.goto-to-website:visited {
  margin-top: 4rem;
  padding: 1rem 2rem;
  align-self: flex-start;
  display: block;
  background-color: transparent;
  color: #3792cc;
  font-size: 1.4rem;
  font-weight: 600;
  border: 2px solid #3792cc;
  border-radius: 5px;
  text-decoration: none;
  transition: all .2s; }

.goto-to-website:hover, .goto-to-website:active,
.goto-to-website:hover,
.goto-to-website:active {
  color: #fff;
  background-color: #3792cc;
  border: 2px solid #3792cc; }

.goto-to-website:active,
.goto-to-website:active {
  transform: translateY(3px); }

.screen img {
  width: 100%; }

/* ------------ 
      Slider
   ------------ */
.slide-show {
  margin-top: 6rem;
  position: relative; }

.slider {
  margin: 0 auto;
  width: 80%;
  min-height: 38rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff; }

.slide {
  width: 80%;
  display: flex;
  left: 10%; }
  .slide-sertificate {
    width: 55%;
    border-right: 2px solid #eee; }
    .slide-sertificate img {
      width: auto;
      height: 100%; }
  .slide-description {
    width: 48.5%;
    height: 38rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    padding: 2rem 3rem; }
  .slide-name {
    margin-bottom: 3rem;
    align-self: center; }
  .slide-topics-list {
    color: #555;
    list-style: none;
    padding: 1rem;
    flex: 1; }
  .slide-topic--item {
    margin-top: 1rem;
    display: flex; }
  .slide-topic--mark {
    padding-top: 3px;
    display: inline-block;
    font-size: 1.6rem;
    margin-right: .8rem;
    color: #3792cc; }

.animated_slide--cur .slide-description {
  opacity: 1;
  z-index: 1; }

/* ---------------------------
    Back and Forward btns < > 
   --------------------------- */
.btn-angle--left {
  left: 5%; }

.btn-angle--right {
  left: 95%; }

/* --------------- 
      Btn GitHub 
   --------------- */
.slide-links {
  align-self: flex-end; }

footer {
  margin-top: 8rem;
  background-color: #333;
  color: #aaa; }

#copyrights {
  font-size: 1.2rem;
  font-weight: 100;
  text-align: center; }

.contacts-list {
  padding: 2rem 1rem;
  text-align: right; }

.contacts-item {
  display: inline-block; }
  .contacts-item i {
    margin-right: 1rem; }

.social-link:link, .social-link:visited {
  color: #aaa; }

.social-link:hover .social-icon--tiny, .social-link:active .social-icon--tiny {
  color: #ccc; }
