@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.js--wp-1, .js--wp-2, .js--wp-3, .js--wp-4 {
  /* element will be none visibile */
  opacity: 0;
  -webkit-animation-duration: .2s;
  animation-duration: .2s; }

.js--wp-1 .animated, .js--wp-2 .animated .js--wp-3 .animated, .js--wp-4 .animated {
  opacity: 1; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
  color: #333; }

body {
  font-size: 1.6rem;
  box-sizing: border-box; }

.container {
  display: flex;
  flex-direction: column;
  width: 100%; }

.row {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto; }

#content {
  flex-grow: 2; }

section {
  margin-top: 8rem; }

.section-title {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif; }
  .section-title::after {
    padding-top: 1rem;
    content: '';
    display: block;
    width: 12rem;
    margin: 0 auto;
    border-bottom: 2px solid #EDABA3; }

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.7)), url("../img/banner/21.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 42rem; }

#logo img {
  width: 18rem;
  box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.4);
  border-radius: 3rem;
  border: 4px solid #fff;
  position: absolute;
  top: 100%;
  left: 5rem;
  transform: translateY(-90%); }

#name {
  color: #fff;
  position: absolute;
  top: 100%;
  left: 26rem;
  transform: translateY(-110%);
  font-size: 4rem;
  font-weight: 300; }
  #name span {
    display: block; }

nav {
  background-color: #fff; }

.nav-list {
  margin-left: 26rem;
  list-style: none;
  display: flex;
  align-items: center; }

.nav-item {
  display: flex;
  border-right: 0.5px solid #eee; }
  .nav-item:first-child {
    border-left: 0.5px solid #eee; }
  .nav-item a:link,
  .nav-item a:visited {
    padding: 1.7rem 1.7rem;
    text-decoration: none;
    color: #3792cc;
    border-bottom: .5px solid transparent;
    font-size: 1.4rem;
    font-weight: 400;
    transition: all .2s;
    position: relative; }
  .nav-item a:hover,
  .nav-item a:active {
    background-color: rgba(55, 146, 204, 0.7);
    color: #fff; }
    .nav-item a:hover::after,
    .nav-item a:active::after {
      opacity: 1; }

.social-links {
  position: fixed;
  top: 50%;
  left: 2.5rem;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity .2s; }
  .social-links-list {
    list-style: none; }
  .social-links-item {
    font-size: 3rem;
    padding: .5rem;
    display: flex;
    justify-content: center; }
    .social-links-item a:link,
    .social-links-item a:visited {
      color: rgba(0, 0, 0, 0.4); }
    .social-links-item a:hover .social-icon,
    .social-links-item a:active .social-icon {
      transform: scale(1.1); }
    .social-links-item a:hover .fa-linkedin,
    .social-links-item a:active .fa-linkedin {
      color: #1178B3; }
    .social-links-item a:hover .fa-github,
    .social-links-item a:active .fa-github {
      color: #000; }
    .social-links-item a:hover .fa-facebook,
    .social-links-item a:active .fa-facebook {
      color: #4468B0; }
    .social-links-item a:hover .fa-envelope,
    .social-links-item a:active .fa-envelope {
      color: #679A46; }

.social-icon {
  transition: all .2s; }

.about-me {
  margin-top: 4rem;
  padding: 0 5rem;
  width: 100%;
  display: flex;
  flex-wrap: nowrap; }
  .about-me--intro {
    flex: 0 0 60%; }
  .about-me--skills {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .about-me--skills .fab {
      font-size: 8rem;
      border: 2px solid #eee;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: #FAFAFA;
      transition: all .2s; }
      .about-me--skills .fab:hover {
        z-index: 10; }
    .about-me--skills .icon-1 {
      width: 14rem;
      height: 14rem;
      top: 0;
      left: 6rem;
      z-index: 5; }
      .about-me--skills .icon-1:hover {
        transform: scale(1.1); }
    .about-me--skills .icon-2 {
      width: 14rem;
      height: 14rem;
      top: 11rem;
      left: 1rem;
      z-index: 3; }
      .about-me--skills .icon-2:hover {
        transform: scale(1.1); }
    .about-me--skills .icon-3 {
      width: 12rem;
      height: 12rem;
      top: 11rem;
      left: 100%;
      transform: translateX(-105%);
      z-index: 3; }
      .about-me--skills .icon-3:hover {
        transform: scale(1.1) translateX(-105%); }
    .about-me--skills .icon-4 {
      width: 12rem;
      height: 12rem;
      top: calc(11rem + 8rem);
      left: 100%;
      transform: translateX(-50%); }
      .about-me--skills .icon-4:hover {
        transform: scale(1.1) translateX(-50%); }
    .about-me--skills .icon-5 {
      width: 10rem;
      height: 10rem;
      top: calc(11rem + 9.5rem);
      transform: translateX(-50%); }
      .about-me--skills .icon-5:hover {
        transform: scale(1.1) translateX(-50%); }
  .about-me--icons {
    width: 60%;
    height: 100%;
    position: relative; }
  .about-me--text {
    font-size: 2rem;
    color: #555; }
    .about-me--text p {
      font-size: 1.6rem;
      margin-bottom: 2rem;
      line-height: 2.4rem;
      font-weight: 400; }
  .about-me--link {
    display: inline-block;
    text-decoration: none;
    color: #3792cc;
    border-bottom: 2px solid transparent;
    transition: all .2s; }
    .about-me--link:hover, .about-me--link:active {
      border-bottom: 2px solid #3792cc; }

.fa-html5 {
  color: #E24E30; }

.fa-css3-alt {
  color: #2A53E0; }

.fa-js {
  color: #EFDA5B; }

.fa-sass {
  color: #CD669A; }

.fa-react {
  color: #67DAF9; }

#projects {
  width: 100%;
  margin-top: 4rem;
  padding: 0 5rem; }

.projects-wrap {
  display: flex;
  flex: 0 0 75%;
  flex-direction: column; }

.project {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .project:not(:last-child) {
    margin-bottom: 6rem; }
    .project:not(:last-child)::after {
      width: 12rem;
      content: '';
      display: block;
      border-bottom: 2px solid #eee;
      margin: 0 auto;
      padding-top: 6rem; }
  .project-preview {
    flex: 1 0 60%;
    position: relative; }
  .project-description {
    flex: 1 0 40%;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end; }
  .project-name {
    margin-bottom: 4rem;
    font-size: 2rem;
    align-self: flex-start;
    font-weight: 700; }
  .project-about {
    display: flex;
    flex-direction: column; }
  .project-intro {
    color: #777;
    font-size: 1.6rem;
    padding-bottom: 2rem; }
    .project-intro span:not(:last-child) {
      display: block; }
  .project-technology {
    padding-top: 1rem;
    border-top: 0.5px solid #eee;
    font-size: 1.4rem; }
    .project-technology span {
      margin-right: .5rem; }

.device-imac {
  max-width: 80% !important;
  z-index: 0; }

.device-ipad {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  transform: translateY(-101%);
  max-width: 50% !important; }

.device-iphone {
  z-index: 2;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-65%, -100%);
  max-width: 15% !important; }

.goto-to-website:link:link, .goto-to-website:link:visited,
.goto-to-website:visited:link,
.goto-to-website:visited:visited {
  margin-top: 4rem;
  padding: 1.5rem 3rem;
  display: block;
  align-self: flex-start;
  background-color: #3792cc;
  color: #fff;
  font-size: 1.6rem;
  box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  text-decoration: none;
  transition: all .2s; }

.goto-to-website:link:hover, .goto-to-website:link:active,
.goto-to-website:visited:hover,
.goto-to-website:visited:active {
  background-color: #3189c1; }

.screen img {
  width: 100%; }

/* ------------ */
/* -- Slider -- */
/* ------------ */
.slide-show {
  margin-top: 4rem;
  margin-bottom: 6rem;
  position: relative; }

.slider {
  margin: 0 auto;
  min-height: 40rem;
  width: 45%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden; }

.slide {
  width: 100%;
  height: 0;
  padding-top: 50rem;
  background-color: white;
  position: absolute;
  top: 0;
  transform: translateX(-200%);
  transition: left ease-out .8s, background .2s; }
  .slide--active {
    left: 0;
    transform: translateX(0); }
  .slide--prev {
    left: -100%;
    transform: translateX(0); }
  .slide--next {
    left: 100%;
    transform: translateX(0); }
  .slide-1 {
    background: url("../img/cources/HTML-and-css3.jpeg"); }
  .slide-2 {
    background: url("../img/cources/advanced-css-and-sass.jpeg"); }
  .slide-3 {
    background: url("../img/cources/js.jpeg"); }
  .slide-4 {
    background: url("../img/cources/modern-react-with-redux.jpeg"); }
  .slide-1, .slide-2, .slide-3, .slide-4 {
    background-size: contain;
    background-repeat: no-repeat; }

/* --------------------- */
/* Btns Back and Forward */
/* --------------------- */
.slide-btn--prev {
  left: 24%;
  transform: translate(-100%, -3rem) rotate(180deg); }
  .slide-btn--prev:active {
    transform: translate(-100%, calc(-3rem + 3px)) rotate(180deg); }

.slide-btn--next {
  left: 78%;
  transform: translate(-100%, -100%); }
  .slide-btn--next:active {
    transform: translate(-100%, calc(-100% + 3px)); }

.slide-btn--prev, .slide-btn--next {
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  fill: #333;
  transition: fill .2s, transform .2s; }
  .slide-btn--prev:hover, .slide-btn--next:hover {
    fill: #3792cc; }

/* --------------- */
/* Btn Source code */
/* --------------- */
.slider-btn {
  width: 45%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(calc(-50%), 1.5rem);
  height: auto;
  display: flex;
  justify-content: flex-end; }
  .slider-btn a:link,
  .slider-btn a:visited {
    padding: .5rem 0;
    width: max-content;
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid #3792cc;
    transition: transform .2s; }
  .slider-btn:active {
    transform: translateY(3px); }

footer {
  margin-top: 8rem;
  background-color: #333;
  color: #aaa; }

#copyrights {
  font-size: 1.2rem;
  font-weight: 100;
  text-align: center; }

.contacts-list {
  padding: 2rem 1rem;
  text-align: right; }

.contacts-item {
  display: inline-block; }
  .contacts-item a:link,
  .contacts-item a:visited {
    color: #aaa; }
    .contacts-item a:link i,
    .contacts-item a:visited i {
      transition: all .2s; }
  .contacts-item a:hover,
  .contacts-item a:active {
    color: #ccc; }
    .contacts-item a:hover i,
    .contacts-item a:active i {
      transform: scale(1.1); }

.contacts-icon {
  margin-right: 1rem;
  font-size: 1.8rem;
  color: currentColor; }
