*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*::selection {
    background-color: $color-grey-light;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    background-color: $color-background-main;
    color: $color-text-main;

    @include respond(tab-land-1100) { // 1rem = 9px
        font-size: 56.25%;
    }

    // @include respond(tab-port) { // 1rem = 8px
    //     font-size: 50%; 
    // }
}

body {
    font-size: 1.6rem;
    box-sizing: border-box; 
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

#content { flex-grow: 2; }

section { 
    padding: $margin-huge 0;

    @include respond(tab-land-1100) {
        padding: $margin-normal 0;
    }

    &:not(:last-of-type) {
        border-bottom: $border-normal;
    }
}


.section-title {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;

    &::after {
        padding-top: 1rem;
        content: '';
        display: block;
        width: 12rem;
        margin: 0 auto;
        border-bottom: 2px solid $color-coral;
    }
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    color: $color-coral2;
}

h4 {
    font-size: 1.8rem;
    font-weight: 400;
}
