/* ------------ */
/* -- Slider -- */
/* ------------ */
.slide-show {
    margin-top: 4rem;
    margin-bottom: 6rem;
    position: relative;
}

.slider {
    margin: 0 auto;
    width: 80%;
    min-height: 38rem;
    box-shadow: 0 3px 5px rgba($color-black, .2);
    background-color: white;
}

.slide {
    width: 80%;

    position: absolute;
    top: 0;
    left: 10%;

    display: flex;

    &-sertificate {
        width: 55%;
        border-right: 2px solid $color-border-light;
        position: relative;
        overflow: hidden;

        img {
            width: auto;
            height: 100%;
            position: absolute;
            top: 0;
            transform: translateX(-200%);
            transition: left ease-out .5s;
        }
    }

    &-description {
        width: 48.5%;
        height: 38rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-name {
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: 700;
        font-family: Roboto, sans-serif;
        margin-bottom: 4rem;
        opacity: 0;
        // transition: opacity .2s ease-out;
    }

    &--active,
    &--prev,
    &--next {
        & .slide-sertificate img { transform: translateX(0); }
    }

    &--active {
        & .slide-sertificate img { left: 0; }
        & .slide-name { opacity: 1; }
    }

    &--prev {
        & .slide-sertificate img { left: 100%; }
    }

    &--next {
        & .slide-sertificate img { left: -100%; }
    }
}


/* --------------------- */
/* Btns Back and Forward */
/* --------------------- */
.slide-btn {
    &--prev {
        left: 5%;
        transform: translate(-100%, -3rem) rotate(180deg);

        &:active {
            transform: translate(-100%, calc(-3rem + 3px)) rotate(180deg);
        }
    }


    &--next {
        left: 95%;
        transform: translate(-100%, -100%);

        &:active {
            transform: translate(-100%, calc(-100% + 3px));
        }
    }

    &--prev,
    &--next {
        position: absolute;
        top: 50%; 

        width: 3rem;
        height: 3rem;
        fill: $color-text-main;
        transition: fill .2s, transform .2s;

        &:hover {
            fill: $color-blue;
        }
    }
}

/* --------------- */
/* Btn Source code */
/* --------------- */
.slider-btn {
    width: 45%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(calc(-50%), 1.5rem);

    height: auto;
    display: flex;
    justify-content: flex-end;

    & a:link,
    & a:visited {
        padding: .5rem 0;
        width: max-content;
        display: block;

        font-size: 1.6rem;
        font-weight: 400;
        text-decoration: none;
        color: #333;
        border-bottom: 2px solid $color-blue;
        transition: transform .2s;
    }

    & a:hover {
        // background-color: $color-blue-2;

    }

    &:active {
        transform: translateY(3px);
    }
}





// &-description {
//     margin-top: 2rem;
//     position: absolute;
//     top: 100%;
//     left: 50%;

//     transform: translateX(-50%);
//     width: 50%;

//     display: flex;
//     align-items: center;
// }

// &-name {
//     padding: 0 1.5rem;
//     font-size: 1.6rem;
//     font-weight: 300;
// }




// &--nums {
//     min-width: 12rem;
//     font-size: 3rem;
//     position: relative;
// }