/* ------------ */
/* -- Slider -- */
/* ------------ */
.slide-show1 {
    margin-top: 4rem;
    margin-bottom: 6rem;
    position: relative;
    overflow: hidden;
}

.slider1 {
    margin: 0 auto;
    width: 80%;
    min-height: 38rem;
    box-shadow: 0 3px 5px rgba($color-black, .2);
    background-color: white;
}

.slide1 {
    width: 80%;
    height: 38rem;
    position: absolute;
    left: 10%;
    transform: translateY(-200%);
    transition: top .5s ease-out;

    display: flex;

    h3 {
        align-self: flex-start;
        font-size: 1.8rem;
        font-weight: 400;
    }
}

.slide {
    &-sertificate1 {
        width: 55%;
        height: auto;
        border-right: 2px solid $color-border-light;
    }

    &-description1 {
        width: 44%;
        height: 38rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 3rem;
    }

    &-name1 {
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: 700;
        font-family: Roboto, sans-serif;
        margin-bottom: 4rem;
        color: $color-coral2;
    }

    &--active1,
    &--prev1,
    &--next1 {
        transform: translateY(0); }

    &--active1 {
        top: 0; 
    }

    &--prev1 {
        top: 100%;
    }

    &--next1 {
       top: -100%;
    }
}


/* --------------------- */
/* Btns Back and Forward */
/* --------------------- */
.slide-btn {
    &--prev {
        left: 5%;
        transform: translate(-100%, -3rem) rotate(180deg);

        &:active {
            transform: translate(-100%, calc(-3rem + 3px)) rotate(180deg);
        }
    }


    &--next {
        left: 95%;
        transform: translate(-100%, -100%);

        &:active {
            transform: translate(-100%, calc(-100% + 3px));
        }
    }

    &--prev,
    &--next {
        position: absolute;
        top: 50%; 

        width: 3rem;
        height: 3rem;
        fill: $color-text-main;
        transition: fill .2s, transform .2s;

        &:hover {
            fill: $color-blue;
        }
    }
}

/* --------------- */
/* Btn Source code */
/* --------------- */
.slide-link1 {
    align-self: flex-end;
    margin-bottom: 1rem;

    a:link, 
    a:visited {
        i {
            font-size: 2rem;
            color: $color-text-2;
        }
    }

    a:hover,
    a:active {
        i {
            color: $color-black;
        }
    }
}


.topics-list1 {
    list-style: none;
    padding: 1rem;
    flex: 1;
    align-self: flex-start;
}

.topic {

    &-item1 {
        margin-top: 1rem;
        display: flex;
    }

    &-mark1 {
        padding-top: 3px;
        display: inline-block;
        font-size: 1.6rem;
        margin-right: .5rem;
        color: $color-blue;
    }

    &-text1 {
        font-size: 1.6rem;
        font-weight: 400;
    }
}
