/* ------------ */
/* -- Slider -- */
/* ------------ */
.slide-show2 {
    margin-top: 4rem;
    margin-bottom: 6rem;
    position: relative;
}

.slider2 {
    margin: 0 auto;
    width: 80%;
    min-height: 38rem;
    box-shadow: 0 3px 5px rgba($color-black, .2);
    background-color: white;
}

.slide2 {
    width: 80%;

    position: absolute;
    top: 0;
    left: 10%;

    display: flex;

    h3 {
        align-self: flex-start;
        font-size: 1.8rem;
        font-weight: 400;
        opacity: 0;
    }
}

.slide {
    &-sertificate2 {
        width: 55%;
        border-right: 2px solid $color-border-light;
        position: relative;
        overflow: hidden;

        img {
            width: auto;
            height: 100%;
            position: absolute;
            left: 0;
            transform: translateY(-200%);
            transition: top ease-out .5s;
        }
    }

    &-description2 {
        width: 48.5%;
        height: 38rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0 3rem;
    }

    &-name2 {
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: 700;
        font-family: Roboto, sans-serif;
        margin-bottom: 4rem;
        color: $color-coral2;
        opacity: 0;
    }

    &--active2,
    &--prev2,
    &--next2 {
        & .slide-sertificate2 img { transform: translateY(0); }
    }

    &--active2 {
        z-index: 1;
        & .slide-sertificate2 img { top: 0; }
        & .slide-name2 { opacity: 1; transition: opacity .2s .2s ease-in; }
        & .topics-list2 { opacity: 1; transition: opacity .2s .2s ease-in; }
        & h3 { opacity: 1; }
        & .slide-link2  { opacity: 1; }
    }

    &--prev2 {
        & .slide-sertificate2 img { top: 100%; }
        & .slide-name2 { opacity: 0; transition: opacity .2s ease-out; }
        & .topics-list2 { opacity: 0; transition: opacity .2s ease-out; }
        & h3 { opacity: 0; }
        & .slide-link2  { opacity: 0; }
    }

    &--next2 {
        & .slide-sertificate2 img { top: -100%; }
        & .slide-name2 { opacity: 0; transition: opacity .2s ease-out; }
        & .topics-list2 { opacity: 0; transition: opacity .2s ease-out; }
        & h3 { opacity: 0; }
        & .slide-link2  { opacity: 0; }
    }
}

.topics-list2 {
    list-style: none;
    padding: 1rem;
    flex: 1;
    align-self: flex-start;
    opacity: 0;
}

.topic {

    &-item2 {
        margin-top: 1rem;
        display: flex;
    }

    &-mark2 {
        padding-top: 3px;
        display: inline-block;
        font-size: 1.6rem;
        margin-right: .5rem;
        color: $color-blue;
    }

    &-text2 {
        font-size: 1.6rem;
        font-weight: 400;
    }
}

/* --------------------- */
/* Btns Back and Forward */
/* --------------------- */
.slide-btn {
    &--prev {
        left: 5%;
        transform: translate(-100%, -3rem) rotate(180deg);

        &:active {
            transform: translate(-100%, calc(-3rem + 3px)) rotate(180deg);
        }
    }


    &--next {
        left: 95%;
        transform: translate(-100%, -100%);

        &:active {
            transform: translate(-100%, calc(-100% + 3px));
        }
    }

    &--prev,
    &--next {
        position: absolute;
        top: 50%; 

        width: 3rem;
        height: 3rem;
        fill: $color-text-main;
        transition: fill .2s, transform .2s;

        &:hover {
            fill: $color-blue;
        }
    }
}

/* --------------- */
/* Btn Source code */
/* --------------- */
.slide-link2 {
    align-self: flex-end;
    margin-bottom: 1rem;
    opacity: 0;

    a:link, 
    a:visited {
        i {
            font-size: 2rem;
            color: $color-text-2;
        }
    }

    a:hover,
    a:active {
        i {
            color: $color-black;
        }
    }
}
