.banner {
    background: linear-gradient(rgba($color-black, .75), rgba($color-black, .7)), url('../img/banner/21.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56rem;
}

#logo img {
    width: 25rem;
    box-shadow: 0 0.2rem 0.6rem 0 rgba($color-black, .4);
    border-radius: 5rem;
    border: 4px solid $color-white;
    position: absolute;
    top: 100%;
    left: 5rem;
    transform: translateY(-90%);
}

#name {
    color: $color-white;
    position: absolute;
    top: 100%;
    left: 35rem;

    transform: translateY(-110%);
    font-size: 5rem;
    font-weight: 300;

    & span {
        display: block;
    }
}
