#projects {
    width: 100%;
    margin-top: 4rem;
    padding: 0 5rem;
}

.projects-wrap {
    display: flex;
    flex: 0 0 75%;
    flex-direction: column;
}

.project {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &:not(:last-child) {
        margin-bottom: 6rem;

        &::after {
            width: 12rem;
            content: '';
            display: block;
            border-bottom: 2px solid $color-border-light;
            margin: 0 auto;
            padding-top: 6rem;
        }
    }

    &-preview {
        flex: 1 0 60%;
        position: relative;
    }

    &-description {
        flex: 1 0 40%;

        display: flex; 
        justify-content: flex-end;
        align-content: flex-end;
    }

    &-name {
        margin-bottom: 4rem;
        font-size: 2rem;
        align-self: flex-start;
        font-weight: 700;
    }

    &-about {
        display: flex;
        flex-direction: column;
    }

    &-intro {
        color: $color-text-2;
        font-size: 1.6rem;
        padding-bottom: 2rem;

        & span:not(:last-child) {
            display: block;
        }
    }

    &-technology {
        padding-top: 1rem;
        border-top: .5px solid $color-border-light;
        font-size: 1.4rem;

        span {
            margin-right: .5rem;
        }
    }
}

.device {

    &-imac {
        max-width: 80% !important;
        z-index: 0;
    }

    &-ipad {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1;
        transform: translateY(-101%);
        max-width: 50% !important;
    }

    &-iphone {
        z-index: 2;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-65%, -100%);
        max-width: 15% !important;
    }
}

.goto-to-website:link, 
.goto-to-website:visited {

    &:link, 
    &:visited {
        margin-top: 4rem;
        padding: 1.5rem 3rem;
        
        display: block;
        align-self: flex-start;
        background-color: $color-blue;
        color: $color-white;
        font-size: 1.6rem;
        box-shadow: 0 0.2rem 0.6rem 0 rgba($color-black, .4);
        border-radius: 5px;
        text-decoration: none;
        transition: all .2s;
    }

    &:hover,
    &:active {
        background-color: $color-blue-2;
    }

}

.screen img {
    width: 100%;
}