$color-white: #fff;
$color-black: #000;

// Text
$color-text-main: #333;
$color-text-2: #777;
$color-text-3: #555;
$color-text-4: #aaa;
$color-text-5: #ccc;

// Background
$color-blue: #3792cc;
$color-blue-2: #3189c1;
$color-background-main: #FAFAFA;
$color-background-footer: #333;

// Borders
$color-border-light: #eee;

// Headers
$color-green: #5AA995;
$color-coral: #EDABA3;
$color-coral2: #dc5d4e;

// social icons
$color-linkedin: #1178B3;
$color-facebook: #4468B0;
$color-github: $color-black;
$color-mail: #679A46;
$color-html5: #E24E30;
$color-css: #2A53E0;
$color-js: #EFDA5B;
$color-scss: #CD669A;
$color-react: #67DAF9;


// margins
$margin-huge: 8rem;
