/* ---------------------------- 
     Back and Forward btns < > 
   ---------------------------- */
$btn-angle--size: 3rem;

.btn-angle {
    &--left {
        transform: translate(0, -50%) rotate(180deg);
        &:active { 
            transform: translate(0, calc(-50% + 3px)) rotate(180deg);
        }
    }


    &--right {
        transform: translate(-100%, -50%);
        &:active { transform: translate(-100%, calc(-50% + 3px));}
    }

    &--left,
    &--right {
        position: absolute;
        top: 50%; 
        
        width: $btn-angle--size;
        height: $btn-angle--size;
        fill: $color-text-main;
        transition: fill .2s, transform .2s;

        &:hover { fill: $color-blue; }
        cursor: pointer;
    }
}

.btn {

    &:link, 
    &:visited {
        padding: 1rem 2rem;
        font-size: 1.4rem;
        font-weight: 600;
        border-radius: 5px;
        text-decoration: none;
        transition: all .2s;
    }

    &:active {
        transform: translateY(2px);
    }
}

.btn-blue {
    background-color: transparent;
    color: $color-blue;
    border: 2px solid $color-blue;

    &:hover,
    &:active {
        color: $color-white;
        background-color: $color-blue;
        border: 2px solid $color-blue;
        box-shadow: 0 4px 8px rgba(#3c4043, .3);
    }
}