nav {
    background-color: $color-white;
    border-bottom: $border-normal;

    @include respond(phone) {
        display: none;
    } 
}

nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav-list {
    margin-left: 26rem;
    list-style: none;

    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    border-right: .5px solid $color-grey-light;

    &:first-child {
        border-left: .5px solid $color-grey-light;
    }

    & a:link,
    & a:visited  {
        padding: 1.7rem 1.7rem;
        text-decoration: none;
        color: $color-blue;
        border-bottom: $border-thick-transparent;
        font-size: 1.4rem;
        font-weight: 400;
        transition: all .2s;
    
        position: relative;
    }

    &--active {
        & a:link,
        & a:visited {
            background-color: rgba($color-blue, .7);
            color: $color-white;
        }
    }

    & a:hover {
        border-bottom: $border-thick-blue;
    }
}