nav {
    background-color: $color-white;
}

.nav-list {
    margin-left: 26rem;
    list-style: none;

    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    border-right: .5px solid $color-grey-light;

    &:first-child {
        border-left: .5px solid $color-grey-light;
    }

    & a:link,
    & a:visited  {
        padding: 1.7rem 1.7rem;
        text-decoration: none;
        color: $color-blue;
        border-bottom: .5px solid transparent;
        font-size: 1.4rem;
        font-weight: 400;
        transition: all .2s;
    
        position: relative;

        // &::after {
        //     opacity: 0;
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     width: 2.5rem;
        //     height: .9rem;
        //     top: 100%;
        //     left: 50%;
        //     transform: translate(-50%, -90%);
        
        //     clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        //     transition: opacity .2s;
        
        //     background-color: $color-background-main;
        //     z-index: 1;
        // }
    }

    & a:hover,
    & a:active  {
        background-color: rgba($color-blue, .7);
        color: $color-white;

        &::after {
            opacity: 1;
        }
    }
}