/* ----------------- 
     Nav
   ---------------- */
nav {
    background-color: $color-white;
    border-bottom: $border-normal;

    @include respond(phone) {
        position: relative;
    }

    & .row {
        display: flex;
        align-items: center;
        padding-left: 5rem;

        @include respond(phone) {
            width: 90%;
            padding: 0;
            margin: 0 auto;
        }
    }
}

.nav {
    &-list {
        display: flex;

        @include respond(phone) {
            margin-left: 0;

            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            background-color: rgba($color-white, .98);
            border-top: $border-thin;
            border-bottom: $border-thin;
            flex-direction: column;
            -webkit-tap-highlight-color: transparent;
            align-items: center;
        } 

        &--close {
            @include respond(phone) {
                display: none;
            }
        }

        &--open {
            @include respond(phone) {
                display: flex;
            }
        }
    }

    &-item {
        display: flex;
        color: $color-blue;

        @include respond(phone) { 
            color: $color-text-main;
        }
    
        &:not(:last-child) {
            @include respond(phone) { border-bottom: $border-thin; }
        }
    
        &:first-child {
            border-left: $border-thin;
            @include respond(phone) { border-left: none; }
        }
    
        & a:link,
        & a:visited  {
            padding: 2rem 1.7rem;
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: 400;
            color: currentColor;
            border-bottom: $border-thick-transparent;
            border-right: $border-thin;
            transition: all .2s;

            @include respond(phone) {
                font-size: 1.6rem;
                border-right: none;
            }
        }

        & a:hover {
            border-bottom: $border-thick-blue;
        }
    
        &--active {
            color: $color-white;

            & a:link,
            & a:visited {
                background-color: rgba($color-blue, .7);
            }

            @include respond(phone) {
                color: $color-text-main;
                
                & a:link,
                & a:visited {
                    border-bottom: $border-thick-blue;
                    background-color: transparent;
                }
            }
        }
    
    }
}

/* ----------------- 
     Social icons
   ---------------- */
.contacts-navi {
    opacity: 0;
    margin-right: auto;
    padding: 0;
    transition: all .2s;

    @include respond(phone) {
        padding: 1.5rem 0;
        opacity: 1;
    }

    & .contacts-item {
        margin-right: 1.8rem;
        @include respond(phone) { margin-right: 1.6rem; }
    }

    & i {
        font-size: 2.5rem;
        @include respond(phone) { font-size: 2.8rem; }
    }

    & .social-link:hover,
    & .social-link:active {
        & i {
            color: $color-blue;
            transform: scale(1); 
        }
    }
}

/* ----------------- 
     Nav-sticky 
   ---------------- */
nav.sticky {
    opacity: 1;
    transition: opacity .2s;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);;
    border-bottom: none;

    & .contacts-navi {
        @include respond(tab-land-1200) {
            opacity: 1;
        }
    }
}


/* ----------------- 
     Nav-mobile 
   ---------------- */
.nav-menu {
    display: none;
    width: 2.5rem;
    margin-right: 5%;

    @include respond(phone) {
        display: inline-block;
        margin: 0;
    } 

    &--checkbox {
        display: none;
    }

    &--label {
        display: block;
        width: 2.5rem;
        height: 2.5px;
        background-color: $color-text-main;
        position: relative;
    
        &::after, &::before {
            content: '';
            width: 2.5rem;
            height: 2.5px;
            position: absolute;
            left: 0;
            background-color: $color-text-main;
            transition: all .2s;
        }
    
        &::after {
            top: -7px;
        }
    
        &::before {
            top: 7px;
        }
    }

    &--checkbox:checked ~ .nav-menu--label {
        background-color: transparent;
        &::after, &::before { top: 0; }

        &::after {
            transform: rotate(135deg);
        }

        &::before {
            transform: rotate(-135deg);
        }
    }
}
