.about-me {
    margin-top: $margin-normal;
    padding: 0 5rem;

    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    @include respond(tab-port) { 
        margin-top: $margin-small;
    }

    &--intro {
        flex: 0 0 60%;

        @include respond(tab-port) { 
            margin: 0 auto;
            flex: 0 0 80%;
        }
    }

    &--skills {
        flex: 0 0 40%;
        position: relative;

        @include respond(tab-port) { 
            display: none;
        }
        
    }

    &--text {
        color: $color-text-3;
        line-height: 2.4rem;

        p:not(:last-child) { margin-bottom: 2rem; }
    }

    &--link {
        display: inline-block;
        text-decoration: none;
        color: $color-blue;
        border-bottom: $border-thick-transparent;
        transition: all .2s;

        &:hover,
        &:active {
            border-bottom: $border-thick-blue;
        }
    }
}

.skills-icon {
    font-size: 8rem;
    border: $border-thick;
    box-shadow: $box-shadow-1;
    border-radius: 50%;
    background-color: $color-background-main;

    display: flex !important;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    transform: translateX(-50%);
    transition: all .2s;

    &:hover {
        z-index: 10;
        transform: translateX(-50%) scale(1.1);
    }

    // html
    &--1 { 
        color: $color-html5; 
        width: 14rem;
        height: 14rem;
        top: -2.5rem; 
        left: 63%;
        z-index: 5;
        transform: translateX(-50%);

        @include respond(tab-land-1200) { 
            left: 60%;
        }

        @include respond(tab-land-1024) { 

            width: 13rem;
            height: 13rem;
            left: 54%;
        }
    }

    // js
    &--2 { 
        color: $color-js; 
        width: 14rem;
        height: 14rem;
        top: 8.5rem;
        left: 48%;
        z-index: 3;
        transform: translateX(-50%);

        @include respond(tab-land-1200) { 
            left: 45%;
        }

        @include respond(tab-land-1024) { 
            width: 13rem;
            height: 13rem;

            top: 8rem;
            left: 38%;
        }
    }

    // css
    &--3 { 
        color: $color-css; 
        width: 12rem;
        height: 12rem;
        top: 9.5rem; 
        left: 76%;
        z-index: 3;
        transform: translateX(-50%);

        @include respond(tab-land-1200) { 
            left: 73.5%;
        }

        @include respond(tab-land-1024) { 
            width: 11rem;
            height: 11rem;

            top: 8.5rem;
            left: 69%;
        }
    }

    // scss
    &--4 { 
        color: $color-scss; 
        width: 12rem;
        height: 12rem;
        top: 18.5rem; 
        left: 93%;
        transform: translateX(-50%);

        @include respond(tab-land-1200) { 
            left: 90%;
        }

        @include respond(tab-land-1024) { 
            width: 11rem;
            height: 11rem;

            top: 17rem;
            left: 87%;
        }
    }

    // react
    &--5 { 
        color: $color-react;
        width: 10rem;
        height: 10rem;
        top: 19rem; 
        left: 30%;
        transform: translateX(-50%);
        
        @include respond(tab-land-1200) { 
            left: 27%;
        }

        @include respond(tab-land-1024) { 
            width: 9rem;
            height: 9rem;

            top: 18rem;
            left: 19%;
        }
    }
}