/* ------------ 
      Slider
   ------------ */
.slide-show {
    margin-top: $margin-normal;
    position: relative;

    @include respond(tab-port) { 
        margin-top: $margin-small;
    }

    -webkit-tap-highlight-color: transparent;
}

.slider {
    margin: 0 auto;
    width: calc(100% - 20rem);
    min-height: 42rem;
    box-shadow: $box-shadow-1;
    background-color: $color-white;
    
    @include respond(tab-land-1024) { 
        min-height: 33rem;;
    }  

    @include respond(tab-port) { 
        min-height: 36rem;
        width: 80%;
        position: relative;
    } 

    @include respond(phone) {
        width: 90%;
    } 
}

.slide {
    width: calc(100% - 20rem);
    display: flex;
    left: 10rem;

    @include respond(tab-port) { 
        width: 100%;
        left: 0;
    }

    &-certificate {
        width: 55%;

        @include respond(tab-land-1024) { 
            width: 50%;
        }  

        @include respond(tab-port) { 
            display: none;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &-description {
        padding: 3rem 3rem 2rem 3rem;
        width: 45%;
        height: 42rem;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0;
        border-left: $border-thick;

        @include respond(tab-land-1024) { 
            width: 50%;
            height: 33rem;
            padding: 2rem;
        }  

        @include respond(tab-port) { 
            margin: 0 auto;
            width: 80%;
            height: 36rem;
            border: none;
            padding: 2rem 0;
        }

        // @include respond(phone) {
        //     width: 90%;
        // } 
    }

    &-name {
        margin-bottom: $margin-small;
        align-self: center;

        @include respond(tab-land-1024) {
            margin-bottom: $margin-smallest; 
        }
    }

    &-topics-list {
        color: $color-text-3;
        list-style: none;
        padding: 1rem;
        flex: 1;
    }
    
    &-topic {
        &--item {
            margin-top: $margin-tiny;
            display: flex;
        }
    
        &--mark {
            padding-top: 3px;
            display: inline-block;
            font-size: 1.6rem;
            margin-right: .8rem;
            color: $color-blue;
        }
    }
}

.animated_slide--cur {
    & .slide-description {
        opacity: 1;
        z-index: 1;
    }
}

/* ---------------------------
    Back and Forward btns < > 
   --------------------------- */
.slide-show--navi {
    @include respond(phone) { 
        margin-top: $margin-small;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.btn-angle {
    &--left { 
        left: 6rem;

        @include respond(tab-port) { left: 6%; }
        @include respond(phone) { left: 0; }
    }

    &--right { 
        left: calc(100% - 6rem);

        @include respond(tab-port) { left: 94%; }
        @include respond(phone) { left: 0; }
    }
}

.slide-nums {
    display: none;

    @include respond(phone) { 
        display: inline-block;
        width: 13rem;
        height: 3rem;
        position: relative;

        font-size: 3rem;
    }    

    &--num {
        position: absolute;
        top: -.5rem;
        left: calc(50% - 2rem);
        transform: translate(-50%);
    }

    &--separate {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    &--count {
        position: absolute;
        left: calc(50% + 2rem);
        top: .5rem;
        transform: translate(-50%);
    }
}


/* --------------- 
      Btn GitHub 
   --------------- */
.slide-links {
    align-self: flex-end;

    & .social-link {
        @include respond(tab-port) {
            position: absolute;
            top: calc(100% - 2rem);
            left: calc(100% - 2rem);

            transform: translate(-100%, -100%);
        }
    }

    @include respond(tab-port) { 
        align-self: stretch;
        display: flex;
    }

    & .social-icon {
        @include respond(tab-port) {
            font-size: 2.5rem;
        }
    }
}

.btn-certificate {
    display: none;

    @include respond(tab-port) { 
        display: inline-block;
        margin-right: auto;
        flex: 1 0 max-content;
    }
}


.certificate-popup {
    display: flex;
    justify-content: center;
    align-content: center;

    background-color: rgba($color-black, .8);
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    opacity: 0;
    visibility: hidden;
    transition: all .2s;

    @supports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(7px);
        backdrop-filter: blur(7px);
        background-color: rgba($color-black, .5);
    }

    &--open {
        opacity: 1;
        visibility: visible;

        .popup {
            opacity: 1;
            transform: scale(1);
        }
    }
}


.popup {
    margin: auto 0;
    width: 95%;
    position: relative;
    text-align: center;

    transform: scale(0);
    opacity: 0;
    transition: all .4s .2s;

    @include respond(tab-port700) {
        width: 100%;
    }

    &-img {
        width: 75%;
        box-shadow: -1px 2px 5px 2px rgba(black, .2);

        @include respond(tab-port700) { 
           width: 100%;
        }
    }

    &-btn-close {
        position: absolute;
        width: 5rem;
        height: 5rem;
        top: 1rem;
        right: calc(10% + 1rem);
        box-shadow: -1px 2px 5px 2px rgba(black, .3);
        background-color: white;
        border-radius: 50%;
        transition: box-shadow .2s;
        outline: none;
        border: none;
    
        transform: translateX(-50%);
    
        @include respond(tab-port700) { 
            top: 1rem;
            right: 1rem;

            transform: translateX(0);
        }

        &::before, 
        &::after {
            content: "";
            height: 2px;
            width: 2.5rem;
            background-color: $color-text-main;
            position: absolute;
            top: 50%;
            left: 50%;
        }  
    
        &::before {
            transform: translate(-50%, -50%) rotate(135deg);
        }
    
        &::after {
            transform: translate(-50%, -50%) rotate(-135deg);
        }
    
        &:hover, &:active {
            box-shadow: -1px 2px 5px 4px rgba(black, .3);
        }
    
        &:active {
            transform: translate(-50%, 2px);

            @include respond(tab-port700) { 
                transform: translate(0, 2px);
            }
        }
    }
}