/* ------------ 
      Slider
   ------------ */
.slide-show {
    margin-top: $margin-normal;
    position: relative;

    @include respond(tab-port) { 
        margin-top: $margin-small;
    }
    -webkit-tap-highlight-color: transparent;
}

.slider {
    margin: 0 auto;
    width: calc(100% - 20rem);
    min-height: 42rem;
    box-shadow: $box-shadow-1;
    background-color: $color-white;
    
    @include respond(tab-land-1024) { 
        min-height: 33rem;;
    }  

    @include respond(tab-port) { 
        min-height: 36rem;
        width: 80%;
        position: relative;
    } 

    @include respond(phone) {
        width: 90%;
    } 
}

.slide {
    width: calc(100% - 20rem);
    display: flex;
    left: 10rem;

    @include respond(tab-port) { 
        width: 100%;
        left: 0;
    }

    &-certificate {
        width: 55%;

        @include respond(tab-land-1024) { 
            width: 50%;
        }  

        @include respond(tab-port) { 
            display: none;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &-description {
        padding: 3rem 3rem 2rem 3rem;
        width: 45%;
        height: 42rem;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0;
        border-left: $border-thick;

        @include respond(tab-land-1024) { 
            width: 50%;
            height: 33rem;
            padding: 2rem;
        }  

        @include respond(tab-port) { 
            margin: 0 auto;
            width: 80%;
            height: 36rem;
            border: none;
            padding: 2rem 0;
        }

        // @include respond(phone) {
        //     width: 90%;
        // } 
    }

    &-name {
        margin-bottom: $margin-small;
        align-self: center;

        @include respond(tab-land-1024) {
            margin-bottom: $margin-smallest; 
        }
    }

    &-topics-list {
        color: $color-text-3;
        list-style: none;
        padding: 1rem;
        flex: 1;
    }
    
    &-topic {
        &--item {
            margin-top: $margin-tiny;
            display: flex;
        }
    
        &--mark {
            padding-top: 3px;
            display: inline-block;
            font-size: 1.6rem;
            margin-right: .8rem;
            color: $color-blue;
        }
    }
}

.animated_slide--cur {
    & .slide-description {
        opacity: 1;
        z-index: 1;
    }
}

/* ---------------------------
    Back and Forward btns < > 
   --------------------------- */
.slide-show--navi {
    @include respond(phone) { 
        margin-top: $margin-small;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.btn-angle {
    &--left { 
        left: 6rem;

        @include respond(tab-port) { left: 6%; }
        @include respond(phone) { left: 0; }
    }

    &--right { 
        left: calc(100% - 6rem);

        @include respond(tab-port) { left: 94%; }
        @include respond(phone) { left: 0; }
    }
}

.slide-nums {
    display: none;

    @include respond(phone) { 
        display: inline-block;
        width: 13rem;
        height: 3rem;
        position: relative;

        font-size: 3rem;
    }    

    &--num {
        position: absolute;
        top: -.5rem;
        left: calc(50% - 2rem);
        transform: translate(-50%);
    }

    &--separate {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    &--count {
        position: absolute;
        left: calc(50% + 2rem);
        top: .5rem;
        transform: translate(-50%);
    }
}


/* --------------- 
      Btn GitHub 
   --------------- */
.slide-links {
    align-self: flex-end;

    & .social-link {
        @include respond(tab-port) {
            position: absolute;
            top: calc(100% - 2rem);
            left: calc(100% - 2rem);

            transform: translate(-100%, -100%);
        }
    }

    @include respond(tab-port) { 
        align-self: stretch;
        display: flex;
    }
}

.btn-certificate {
    display: none;

    @include respond(tab-port) { 
        display: inline-block;
        margin-right: auto;
        flex: 1 0 max-content;
    }
}

