/* ------------ 
      Slider
   ------------ */
.slide-show {
    margin-top: $margin-normal;
    position: relative;

    @include respond(tab-port) { 
        margin-top: $margin-small;
    }
}

.slider {
    margin: 0 auto;
    width: 80%;
    min-height: 38rem;
    box-shadow: $box-shadow-1;
    background-color: $color-white;

    @include respond(tab-port) { 
        min-height: 35rem;
    }

    @include respond(tab-port) { 
        width: 72%;
        position: relative;
    }
}

.slide {
    width: 80%;
    display: flex;
    left: 10%;

    @include respond(tab-port) { 
        width: 100%;
        left: 0;
    }

    &-certificate {
        width: 55%;

        @include respond(tab-port) { 
            display: none;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &-description {
        padding: 2rem 3rem;
        width: 48.5%;
        height: 38rem;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0;
        border-left: $border-thick;

        @include respond(tab-port) { 
            width: 100%;
            height: 35rem;
            border: none;
        }
    }

    &-name {
        margin-bottom: $margin-small;
        align-self: center;
    }

    &-topics-list {
        color: $color-text-3;
        list-style: none;
        padding: 1rem;
        flex: 1;
    }
    
    &-topic {
        &--item {
            margin-top: $margin-tiny;
            display: flex;
        }
    
        &--mark {
            padding-top: 3px;
            display: inline-block;
            font-size: 1.6rem;
            margin-right: .8rem;
            color: $color-blue;
        }
    }
}

.animated_slide--cur {
    & .slide-description {
        opacity: 1;
        z-index: 1;
    }
}

/* ---------------------------
    Back and Forward btns < > 
   --------------------------- */
.btn-angle {
    &--left { left: 5%; }
    &--right { left: 95%; }

    @include respond(tab-port) { 
        &--left { left: 8%; }
        &--right { left: 92%; }
    }
}


/* --------------- 
      Btn GitHub 
   --------------- */
.slide-links {
    align-self: flex-end;

    @include respond(tab-port) { 
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.btn-certificate {
    display: none;

    @include respond(tab-port) { 
        display: inline-block;
        margin-right: auto;
        flex: 1 0 max-content;
    }
}

