footer {
    margin-top: $margin-huge; 
    background-color: $color-background-footer;
    color: $color-text-4;
}

#copyrights {
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;

    @include respond(tab-land-1200) { 
        padding-top: 50px;
    }  
}

footer .contacts {
    @include respond(tab-land-1200) { 
        display: none;
    }  
}
