#projects {
    width: 100%;
    margin-top: $margin-big;
    padding: 0 5rem;
}


.project {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &:not(:last-child) {
        margin-bottom: 6rem;

        &::after {
            width: 12rem;
            content: '';
            display: block;
            border-bottom: 2px solid $color-grey-light;
            margin: 0 auto;
            padding-top: 6rem;
        }
    }

    &-preview {
        flex: 1 0 60%;
        position: relative;
    }

    &-description {
        flex: 1 0 calc(40% - 3rem);
        margin: auto 0;
        margin-left: 3rem;
        padding: 0 4rem;

        display: flex; 
        flex-direction: column;
    }

    &-name {
        margin-bottom: $margin-small;
    }

    &-about {
        display: flex;
        flex-direction: column;
    }

    &-intro {
        color: $color-text-3;
        font-size: 1.6rem;
        padding-bottom: 2rem;

        & span:not(:last-child) {
            display: block;
        }

        border-bottom: .5px solid $color-grey-light;
    }

    &-technology {
        padding-top: 1rem;
        font-size: 1.4rem;

        span {
            display: inline-block;
            padding: 0 3px;
            color: #666;
            margin-right: .3rem;
            margin-bottom: .3rem;
        }
    }
}

.device {

    &-imac {
        max-width: 80% !important;
        z-index: 0;
    }

    &-ipad {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1;
        transform: translateY(-101%);
        max-width: 50% !important;
    }

    &-iphone {
        z-index: 2;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-65%, -100%);
        max-width: 15% !important;
    }
}

.goto-to-website, 
.goto-to-website {

    &:link, 
    &:visited {
        margin-top: 4rem;
        padding: 1rem 2rem;

        align-self: flex-start;
        display: block;

        background-color: transparent;
        color: $color-blue;
        font-size: 1.4rem;
        font-weight: 600;
        border: 2px solid $color-blue;
        border-radius: 5px;
        text-decoration: none;
        transition: all .2s;
    }

    &:hover,
    &:active {
        color: $color-white;
        background-color: $color-blue;
        border: 2px solid $color-blue;
    }

    &:active {
        transform: translateY(3px);
    }
}

.screen img {
    width: 100%;
}